.movie-filter-container {
    padding: 15px;
    margin-bottom: 20px;
}

.movie-filter-name-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}

.movie-filter-bottom-container {
    display: flex;
}

.movie-filter-genre-container {
    flex: 1;
}

.btn-movie-filter-clear {
    font-weight: bold;
    border-radius: 10px;
}

.movie-filter-select__single-value {
    color: #ffffff !important;
}

.movie-filter-select__clear-indicator {
    color: #bebdbd !important;;
}

.movie-filter-select__dropdown-indicator {
    color: #bebdbd !important;;
}

.movie-filter-select__control {
    padding: 10px;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    border: 1px solid #e1e1e1 !important;
    background-color: #6c6c6c !important;
}

.movie-filter-select__placeholder {
    color: #ffffff !important;
}

.movie-filter-select__indicator-separator {
    display: none;
}

@media (min-width: 768px) {
    .movie-filter-container {
        display: flex;
        
        margin-bottom: 0;
        padding: 10px 15px;
    }

    .movie-filter-form {
        display: flex;
    }
   
    .movie-filter-bottom-container {
        flex: 1;
    }
    .movie-filter-select__control {
        width: 285px;
    }

    
}
